<article class="article">
<header class='article-header'>
    <a href="<%- config.root %><%- item.path %>">
        <div>
            <h1>
                <%- item.title %>
            </h1>
            <span class="read-more">Read more</span>
        </div>
        <% if (item.type) { %>
        <p><%= item.type %></p>
        <% } %>
    </a>
</header>
<div><%- item.excerpt || item.content %></div>
<footer>
    <time datetime="<%= item.date.format(config.date_format) %>">
        <%= item.date.format(config.date_format) %>
    </time>
    <span>
    <% item.tags.each(function(tag){ %>
        <a href="<%- config.root %><%- tag.path %>">
            <%= tag.name + "," %>
        </a>
    <% }); %>
    
    </span>
</footer>
</article>