<article>
<header>
    <a href="<%- config.root %><%- item.path %>">
        <h1>
            <%- item.title %>
        </h1>

        <% if (item.type) { %>
        <p><%= item.type %></p>
        <% } %>
    </a>
</header>
<p><%- item.excerpt || item.content %></p>
<footer>
    <time datetime="<%= item.date.format(config.date_format) %>">
        <%= item.date.format(config.date_format) %>
    </time>
    <span>
    <% item.tags.each(function(tag){ %>
        <a href="<%- config.root %><%- tag.path %>">
            <%= tag.name %>
        </a>
    <% }); %>
    
    </span>
</footer>
</article>