
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="<%- url_for('favicon.svg') %>">
    <title>jakubjares.com</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Lato:100,300,400,700,900,900i|Roboto" rel="stylesheet">

    <%- css('scss/styles') %>
    <%- css('scss/highlight') %>
    <%- partial('_partial/google-analytics') %>
</head>

<body>
    <%- body %>
    <%- js('js/lissajous-logo') %>
</body>

</html>
